<div>
    <ion-label class="justify-content-center">
        <h1><b>CADASTRO</b></h1>
    </ion-label>
    <ion-item class="mt-10">
        <ion-label position="floating">Nome Completo</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="mt-10">
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item class="mt-10">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item class="mt-10">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>   
      <ion-button class="mt-10" size="large" expand="block" >CADASTRAR</ion-button>
      <div class="justify-content-center"><h2>Já tem uma conta? <a routerLink="link">ENTRE</a> </h2></div>
</div>