<div>
  <ion-label class="justify-content-center">
      <h1><b>LOGIN</b></h1>
  </ion-label>
    <ion-item class="mt-10">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item class="mt-10">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>   
    <ion-button class="mt-10" size="large" expand="block" >ENTRAR</ion-button>
    <div class="justify-content-center"><h3>Não possui uma conta? <a routerLink="link">Criar</a> </h3></div>
</div>